<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Fedex\OrderStatus\Api\OrderStatusManagementInterface"
                type="Fedex\OrderStatus\Model\OrderStatusManagement" />

    <!-- Define a unique virtualType name for UI listing data source -->
    <virtualType name="Fedex\OrderStatus\Ui\DataProvider\Status\ListingDataCollection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">fedex_order_status</argument>
            <argument name="resourceModel" xsi:type="string">Fedex\OrderStatus\Model\ResourceModel\Status</argument>
        </arguments>
    </virtualType>

    <!-- Link your data source name to the virtualType above -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="fedex_order_status_listing_data_source" xsi:type="string">
                    Fedex\OrderStatus\Ui\DataProvider\Status\ListingDataCollection
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Fedex\OrderStatus\Api\OrderStatusManagementInterface">
        <plugin name="rate_limit_plugin" type="Fedex\OrderStatus\Plugin\Api\OrderStatusManagementPlugin" />
    </type>

    </config>


</config>
